
.head{
     display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-template-rows: auto;
     gap: 10px;
     margin-top: 30px;
}
.p{
    color: skyblue;
}
.div{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;}
.input{
    width: 40%;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}
@media only screen and (min-width:70px) and (max-width:420px){
    .head{
        display: grid;
     grid-template-columns: repeat(1,1fr);
     grid-template-rows: auto;
     gap: 10px;
     margin-top: 30px;
    
    }
    .input{
        width: 50%;
        height: 20px;
        margin-top: 20px;
    }
}